<div class="callBox-layer">

  <div class="closeCallBox">
    <h1>X</h1>
    <h4>CLOSE</h4>
  </div>

  <div class="callBox">
    <div class="booking-request memo">
      <br><br><br><br><br><br>
      <span class="small">What would you like to ask or talk about?</span><br>
      <span class="xsmall">(140 characters max)</span><br><br>
      <textarea id="memo" rows="3" maxlength="140" class="small"></textarea>
      <br><br>
      <button class="small blue toggle">NEXT</button>
    </div>

    <div class="booking-request times" style="display: none;">
      <br><br><br><br><br>
      <span class="small">Choose (up to) three potential call times.</span><br>
      <br>
      <span class="xsmall">ON</span>
      <input type="date" value="2016-12-12">
      <span class="xsmall">AT</span>
      <input type="time" value="15:00">
      <br>
      <span class="xsmall">ON</span>
      <input type="date" value="2016-12-12">
      <span class="xsmall">AT</span>
      <input type="time" value="15:00">
      <br>
      <span class="xsmall">ON</span>
      <input type="date" value="2016-12-12">
      <span class="xsmall">AT</span>
      <input type="time" value="15:00">
      <br><br>
      <button class="small green toggle">PREV</button>
      <button id="makeBookingRequest" class="small blue">SUBMIT</button>
    </div>
  </div>

</div>
