<div class="callBox-layer">

  <div class="closeCallBox">
    <h1>X</h1>
    <h4>CLOSE</h4>
  </div>

  <div class="callBox">
    <form id="newBookingRequest">
      <div class="booking-request memo">
        <br><br><br><br><br><br>
        <span class="small">What would you like to ask or talk about?</span><br>
        <span class="xsmall">(140 characters max)</span><br><br>
        <textarea id="booking-request--memo" rows="3" maxlength="140" class="small"></textarea>
        <br><br>
        <button type="button" class="small blue toggle">NEXT</button>
      </div>

      <div class="booking-request times" style="display: none;">
        <br><br><br><br><br>
        <span class="small">Choose (up to) three potential call times.</span><br>
        <br>
        <input type="datetime-local" value="2016-12-12" id="booking-request--option1" required>
        <br>
        <input type="datetime-local" value="2016-12-12" id="booking-request--option2">
        <br>
        <input type="datetime-local" value="2016-12-12" id="booking-request--option3">
        <br><br>
        <button type="button" class="small green toggle">PREV</button>
        <button type="submit" id="makeBookingRequest" class="small blue">SUBMIT</button>
      </form>
    </div>
  </div>

</div>
