<div class="col-sm-4 text-left">
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/about">FAQ</a></li>
    <li><a href="/about">Contact</a></li>
  </ul>
</div>

<div class="col-sm-4 text-center">
  <a href="/">
    <img src="/assets/Dibbl_logo_color.png" class="logo" />
  </a>
  <br>
  <p class="xsmall" style="margin-top: 10px;">COPYRIGHT 2015 POMELO INC.</p>
</div>

<div class="text-right col-sm-4">
  <ul>
    <li><a href="mailto:hello@dibbl.co">hello@dibbl.co</a></li>
    <br>
    <li><a href="http://instagram.com/dibblco">INSTA</a> • <a href="http://twitter.com/dibblco">TWITTER</a></li>
  </ul>
</div>
