<div class="nav">
  <div class="text-left col-xs-6">
    <a href="/">
      <img src="/assets/dibbl-logo-01.png" class="logo" />
    </a>
  </div>

  <div class="text-right col-xs-6">
    <ul>
      <li class="secure availability">
        <i class="fa fa-circle"></i>
        <span>online</span>
      </li>
      <li class="secure account-inbox">
        <a>
        <i class="fa fa-inbox"></i>
        INBOX (<span class="unread-count">0</span>)
        </a>
      </li>
      <li class="secure"> | </li>
      <li><a href="/search">Find an Expert</a></li>
      <li class="secure account clickable">Account <i class="fa fa-caret-down"></i></li>
      <div class="dropdown dropdown-account" style="display:none;">
        <ul>
          <li class="account-dashboard"><a>Dashboard</a></li>
          <li class="logout"><a>Logout</a></li>
        </ul>
      </div>
      <li class="public-only"><input id="beta-password" type="text" placeholder="password (closed beta)" /></li>
    </ul>
  </div>
</div>

<div class="rating-container">
</div>
