<div class="rating">
  <i class="fa fa-star-o rating-star" data-status="empty"></i>
  <i class="fa fa-star-o rating-star" data-status="empty"></i>
  <i class="fa fa-star-o rating-star" data-status="empty"></i>
  <i class="fa fa-star-o rating-star" data-status="empty"></i>
  <i class="fa fa-star-o rating-star" data-status="empty"></i>
</div>
