<div class="rating">
  <i class="fa fa-star-o rating-star"></i>
  <i class="fa fa-star-o rating-star"></i>
  <i class="fa fa-star-o rating-star"></i>
  <i class="fa fa-star-o rating-star"></i>
  <i class="fa fa-star-o rating-star"></i>
</div>

<!-- <i class="fa fa-star"></i>
<i class="fa fa-star-half-o"></i> -->
