<div class="nav">
  <div class="text-left col-xs-6">
    <a href="/">
      <img src="/assets/dibbl-logo-01.png" class="logo" />
    </a>
  </div>

  <div class="text-right col-xs-6">
    <ul>
      <li class="secure">
        <i class="fa fa-flag"></i>
        <span class="unread-count">0</span> unread messages
      </li>
      <li class="secure"> | </li>
      <li><a href="/search">Find an Expert</a></li>
      <li class="secure"><a href="/account">Account</a></li>
      <li class="public-only"><input id="beta-password" type="text" placeholder="password (closed beta)" /></li>
    </ul>
  </div>
</div>
