<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/global.css" rel="stylesheet" type="text/css">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//simplewebrtc.com/latest.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_aggmgLA6W1bMgAD9bVfscNyL');
    </script>
    <title>dibbl</title>
  </head>

  <body>
    <div id="header"></div>

    <div>
      your calls
      <button id="call">call</button>
    </div>

    <script>
      var token = '<%= token %>';
    </script>
    <script type="text/javascript" src="/js/header.js"></script>
    <script type="text/javascript" src="/js/calls.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68991189-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
