<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="bzqEoT6WUpsJU7L8leP5Fk9svIFFcDHRIL3XKsju-r0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/global.css" rel="stylesheet" type="text/scss">
    <link href="/css/home.css" rel="stylesheet" type="text/scss">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//simplewebrtc.com/latest.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_aggmgLA6W1bMgAD9bVfscNyL');
    </script>
    <title>dibbl</title>
  </head>

  <body>
    <div id="header">
    </div>

    <div id="home-section-1">
      <div class="col-md-5">
      </div>
      <div class="col-md-7 search-container">
        <h2>The world's experts at your fingertips.</h2>
        <br><br>
        <form id="search" class="container-fluid">
            <h4>I want to talk with an expert in</h4>
            <input type="text" id="query" placeholder="topic"><br>
            <h4 class="inline">for about</h4>
            <input type="number" value="10" min="5" id="query-time">
            <h4 class="inline">minutes.</h4><br><br>
            <button class="big-blue">connect now</button>
        </form>
      </div>

      <div class="col-md-7 mailinglist-container">
        <form id="mailinglist" class="container-fluid">
          <h2>Almost there...</h2><br>
          <p>Dibbl is a brand-new platform that still needs some work before we release it to the public. Submit your email address below and we'll send you an invite to our closed beta as soon as we have a spot.</p>
          <div class="confirmation-container"></div>
          <input type="email" id="mailinglist-email" placeholder="your email address"><br><br>
          <button class="big-blue">get your invite</button><br><br>
          <p class="small">We won't email you about anything else or sell your information to anyone. Ever.</p>
        </form>
      </div>

      <div class="col-md-7 login-container">
        <h2>Log In</h2><br>
        <form id="login" class="container-fluid">
          <input type="text" id="firstname" class="signup-only" placeholder="first name"><br>
          <input type="text" id="lastname" class="signup-only" placeholder="last name"><br>
          <input type="email" id="email" placeholder="email"><br>
          <input type="password" id="password" placeholder="password"><br>
          <p class="loginError"></p>
          <button class="login-only big-blue">Login</button>
          <button class="signup-only big-blue">Sign Up</button>
          <br><br>
          <p class="alreadyUser signup-only">Already a user? <a>Log in >></a></p>
          <p class="notUserYet login-only">Not a user yet? <a>Sign up >></a></p>
        </form>
      </div>

    </div>
<!--
    <div id="home-section-2">
      <div class="col-md-6">
        <h4>
          dibbl makes it easy and affordable for you to get help from world-class industry experts.
        </h4>
      </div>
      <div class="col-md-6">
      </div>
    </div> -->


    <script>
    </script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/home.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68991189-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
