<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="bzqEoT6WUpsJU7L8leP5Fk9svIFFcDHRIL3XKsju-r0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Work-Sans:100,200,400' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/global.css" rel="stylesheet" type="text/scss">
    <link href="/css/home.css" rel="stylesheet" type="text/scss">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="js/typedjs/js/typed.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_live_CmhkakEmZGQeCisMPxX0zGNb');
    </script>
    <title>dibbl</title>
  </head>

  <body>
    <div class="container-fluid">
      <div id="header" class="row">
      </div>

      <div id="home-section-1" class="row text-center">
        <br><br><br><br>
        <img src="/assets/Dibbl_logo_color.png"/>
        <div class="col-md-12 search-container">
          <h4>on-demand micro mentorship with</h4>
          <h3 id="exampleUseCases"> </h3>
          <br>
          <form class="mailinglist container-fluid">
            <div class="confirmation-container"></div>
            <input type="email" class="mailinglist-email" placeholder="your email address"><br><br>
            <button class="big blue">get early access</button><br><br>
          </form>
        </div>

        <div class="col-md-12 login-container" style="display:none;">
          <h2>Log In</h2><br>
          <form id="login" class="container-fluid">
            <input type="text" id="firstname" class="signup-only" placeholder="first name"><br>
            <input type="text" id="lastname" class="signup-only" placeholder="last name"><br>
            <input type="email" id="email" placeholder="email"><br>
            <input type="password" id="password" placeholder="password"><br>
            <p class="loginError"></p>
            <button class="login-only big blue">Login</button>
            <button class="signup-only big blue">Sign Up</button>
            <br><br>
            <p class="alreadyUser signup-only">Already a user? <a>Log in >></a></p>
            <p class="notUserYet login-only">Not a user yet? <a>Sign up >></a></p>
          </form>
        </div>

      </div>

      <div id="home-section-2" class="row">
        <div class="col-md-6 text-center" id="home-section-2a">
          <h5>FOR FANS + STUDENTS</h5>
          <br>
          <h3>Connect with some of the most brilliant minds in the world.
            <br><em>Get answers you can't Google.</em>
          </h3>
          <br>
        </div>
        <div class="col-md-6 text-center" id="home-section-2b">
          <h5>FOR ARTISTS + PROFESSIONALS</h5>
          <br>
          <h3>Finally - effectively monetize your valuable knowledge and experience.
            <br><em>This is a creative careeer revolution.</em>
          </h3>
          <br>
        </div>
      </div>

      <div id="home-section-3" class="row text-left light-gray">
        <div class="col-lg-5 col-lg-offset-7">
          <h3>Micro Mentorship <span class="xsmall">(NOUN)</span></h3>
          <br>
          <h5>
            A transformative educational experience. Very effective.
            <br>
            <strong>On Dibbl, it means short, affordable, and easy connection with some of the most brilliant professionals in your industry.</strong>
            <br><br>
            <em>Compare to traditional mentorship: Very expensive, very time-consuming (for both parties), and requires a long-term commitment.</em>
          </h5>
        </div>
      </div>

      <div id="footer" class="row">
      </div>
    </div>

    <script>
    </script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/home.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68991189-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
