<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/global.css" rel="stylesheet" type="text/scss">
    <link href="/css/home.css" rel="stylesheet" type="text/scss">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//simplewebrtc.com/latest.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_aggmgLA6W1bMgAD9bVfscNyL');
    </script>
    <title>dibbl</title>
  </head>

  <body>
    <div id="nav">
    </div>

    <div id="home-section-1">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <h6>login/signup</h6>
        <img class="splash-logo" src="assets/dibbl-logo-02.png">
        <h6>transforming one-on-one education</h6>

        <form id="login-signup" class="container-fluid">
            <input type="text" id="firstname" class="signup-only" placeholder="first name"><br>
            <input type="text" id="lastname" class="signup-only" placeholder="last name"><br>
            <input type="email" id="email" placeholder="email"><br>
            <input type="password" id="password" placeholder="password"><br>
            <p class="loginError"></p>
            <button class="login-only">Login</button>
            <button class="signup-only">Sign Up</button>
            <p class="alreadyUser signup-only">Already a user? <a>Log in >></a></p>
            <p class="notUserYet login-only">Not a user yet? <a>Sign up >></a></p>
        </form>
      </div>
    </div>



    <script type="text/javascript" src="js/nav.js"></script>
    <script type="text/javascript" src="js/login.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68991189-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
