<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/global.css" rel="stylesheet" type="text/css">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//simplewebrtc.com/latest.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_test_aggmgLA6W1bMgAD9bVfscNyL');
      // ...
    </script>
    <title>dibbl</title>

  </head>

  <body>
    <div class="container-fluid">
      <div id="header" class="row">
        <div class="text-left col-xs-6">
          <img src="/assets/dibbl-logo-02.png" class="logo" />
        </div>
        <div class="text-right col-xs-6">
          <i class="fa fa-bell notifications-icon"></i>
          <span class="notifications-number">0</span>
          <i class="fa fa-bars menu-icon"></i>
        </div>
        <div class="notifications dropdown">
        </div>
        <div class="menu dropdown">
          <div class="page-nav" data-page="search">find an expert</div>
          <div class="page-nav" data-page="account">my account</div>
          <div class="logout">logout</div>
        </div>
      </div>

      <div class="page" id="account" style="display:none;">
        <h2>my account</h2>
        <h4>first name: <span id="firstname"></span></h4>
        <h4>last name: <span id="lastname"></span></h4>
        <div id="skills">
          <h4>my skills:</h4>
        </div>
        <form id="skillsForm">
          <input type="text" id="skill" placeholder="area of expertise">
          <input type="submit" value="add">
        </form>

        <h4>Payment</h4>
        <div class="saved-cards">
          saved cards
        </div>
        <form action="/newCustomer" method="POST" id="payment-form">
          <span class="payment-errors"></span>

          <div class="form-row">
            <label>
              <span>Card Number</span>
              <input type="text" size="20" data-stripe="number"/>
            </label>
          </div>

          <div class="form-row">
            <label>
              <span>CVC</span>
              <input type="text" size="4" data-stripe="cvc"/>
            </label>
          </div>

          <div class="form-row">
            <label>
              <span>Expiration (MM/YYYY)</span>
              <input type="text" size="2" data-stripe="exp-month"/>
            </label>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year"/>
          </div>

          <button type="submit">Submit Payment</button>
        </form>

      </div>


      <div class="page" id="search">
        <form id="userSearchForm">
          <div class="initial-view">
            <h2>I'd like to speak to an industry leader about</h2>
            <input id="query" placeholder="fill in the blank" width="100%" class="gray-box">
            <h2 style="display:inline-block;">for</h2>
            <input id="query-time" type="number" step="5" min="5" max="20" value="10" width="30px" class="gray-box">
            <h2 style="display:inline-block;">minutes</h2>
            <input type="submit" value="GO">
          </div>
        </form>
        <div class="searchFilter" style="display:none;">
          <hr style="border: 2px solid #eee;">
          <span>SORT BY:</span>
          <span>RATING</span>
          <span>PRICE</span>
          <span>NAME</span>
        </div>
        <div id="searchResults">
        </div>
        <div class="createRequest" style="display:none;">
          <input type="text" id="memo" placeholder="briefly describe what you'd like to talk about.">
          <h4>choose up to 3 preferred dates/times when you'll be available to dibbl</h4>
          <div class="datetimePicker">
            <input type="date">
            <input type="time" value="">
            <input type="time">
          </div>
          or
          <button class="connectNow">send dibbl request</button>
          <button class="sendRequest">send dibbl request</button>
        </div>
      </div>



      <div id="callwindow" class="page" style="display:none;">
        <video height="200" id="localVideo"></video>
        <div id="remotesVideos"></div>
        <button id="hangup">hang up</button>
      </div>
    </div>





    <script type="text/javascript" src="js/index.js"></script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68991189-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
