<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" />
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- STYLES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/global.css" rel="stylesheet" type="text/css">
    <link href="/css/search.css" rel="stylesheet" type="text/css">
    <!-- JS-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//simplewebrtc.com/latest.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_aggmgLA6W1bMgAD9bVfscNyL');
    </script>
    <title>dibbl</title>
  </head>

  <body>
    <div id="header">
    </div>

    <div class="light-gray container-fluid">
      <form id="userSearchForm">
        <label>TOPIC</label>
        <input id="query" placeholder="fill in the blank" width="100%" class="medium-gray">
        <label>EST. DURATION (MIN)</label>
        <input id="query-time" type="number" step="5" min="5" max="20" value="10" width="30px" class="gray-box">
        <input type="submit" value="GO">
      </form>
      <div class="searchFilter">
        <span>SORT BY:</span>
        <span>RATING</span>
        <span>PRICE</span>
        <span>NAME</span>
      </div>
    </div>

    <div id="searchResults">
    </div>

    <div class="callBox-layer" style="display:none;">
      <div class="callBox">
        <p class="small">
          What would you like to ask or talk about?
          <br>(140 characters max)</p>
        <textarea id="memo" rows="2" maxlength="140" class="small"></textarea>
        <br><br>
        <p class="small">
          Warning: You will be charged $1 Million per minute. By clicking 'connect', you agree to pay this. Ok?
        </p>
        <button id="makeCall">Call Christine</button>
        <button id="hangup">Hangup</button>
        <button id="test">test</button>
        </div>
      </div>
    </div>

    <script>
      var token = '<%= token %>';
    </script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/search.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68991189-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
