.account-info {
  padding: 25px;
}

.main-category {
  margin-bottom: 20px;
  text-align: center;
  height: 600px;
}

.main-category .subcategory-wrapper { height: 100%; }

.subcategory {
  height: 100%;
  padding: 20px;
  background-color: #fafafa;
  text-align: center;
}

.sub-subcategory {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
}

.account-info input, textarea {
  padding: 10px;
  font-size: 14px;
  max-width: 500px;
}

.account--profilephoto {
  height: 150px;
  width: 150px;
  background-image: url('../assets/placeholder.jpg');
  background-size: 100%;
  background-position: center;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
  color: rgba(0,0,0,0);
  cursor: pointer;
}

.account--profilephoto:hover {
  opacity: .7;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}

.callInfo {
  background-color: white;
  margin-bottom: 5px;
  padding: 10px 15px;
  text-align: left;
}

.saved-topics { margin-bottom: 15px; }

.account--skill {
  background-color: #f1f1f1;
  color: #888;
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 5px;
  margin: 0 2px;
  display: inline-block;
}
