#home-section-1 {
  background-image: url('../assets/background_desk1.jpeg');
  background-size: cover;
  height: 500px;
}

@media (max-width: 991px) {
  #home-section-1 {
    background-color: #eee;
    background-image: none;
    text-align: center;
  }
}

#home-section-2a {
  background-image: url('../assets/background_music1.jpeg');
  background-size: cover;
  background-position: bottom;
  color: white;
  height: 600px;
  padding: 60px;
}

#home-section-2b {
  background-image: url('../assets/background_desk2.jpg');
  background-size: cover;
  background-position: bottom;
  text-align: right;
  height: 600px;
  padding: 60px;
}

#exampleUseCases {
  height: 40px;
  margin-top: 5px;
  color: #66cccc;
}

.search-container, .mailinglist-container, .login-container {
  margin-top: 100px;
  text-align: center;
}

#search, #mailinglist, #login { max-width: 550px; }
#search h4 { color: #999; }
#search h4, input {
  margin: 5px;
  text-align: center;
}

input {
  padding: 10px;
  background-color: #fff;
  font-size: 18px;
  width: 100%;
}

#search input[type="number"] { padding: 10px; width: 80px; }

.confirmation-container {
  height: 30px;
  color: #ff9966;
}
