.topicList {
  list-style: none;
  padding-left: 0;
}

.topicList li {
  color: #66cccc;
  background-color: white;
  padding: 5px 10px;
  margin: 2px 0;
  max-width: 300px;
  cursor: pointer;
}

.topicList li:hover {
  opacity: .8;
}

.topicList-2, .topicList-3 {
  display: none;
  margin-left: 10px;
}

.keyword.selected {
  border: 2px solid #66cccc;
  box-sizing: border-box;
  font-style: italic;
}

#userSearchForm { color: #aaa; min-height: 300px; }

#userSearchForm label {
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
  margin-right: 5px;
}

#userSearchForm input {
  padding: 10px;
  font-size: 14px;
  max-width: 500px;
  margin-right: 15px;
}

#searchResults {
  min-height: 500px;
}

.searchFilter { margin: 10px 0; text-align: center; }
.searchFilter span { font-size: 13px; margin: 0 10px; color: #aaa; }

.faveIcon { display: inline-block; color: #66cccc; margin-right: 5px; }
.userName { text-transform: uppercase; color: #888; display: inline-block; }
.rating { display: inline-block; color: #ffcc00; margin-left: 5px; }
.userFee { float: right; display: inline-block; }
.userSkills { margin-top: 10px; }
.userSkills span { background-color: #ededed; color: #888; padding: 5px 10px; margin-right: 5px; font-size: 10px; text-transform: uppercase; }

.userPhoto {
  height: 150px;
  width: 150px;
  background-image: url('../assets/placeholder.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.userInfo {
  border: 1px solid #ddd;
  background-color: white;
  padding: 20px;
  text-align: left;
  margin-bottom: 10px;
  max-width: 100%;
  margin-left: 0;
}

.userBio {
  margin: 15px 0 20px 0;
}

.callBox-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.5);
  text-align: center;
}

.closeCallBox {
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 100%;
  color: white;
  cursor: pointer;
}

.closeCallBox:hover { opacity: .6; }

.callBox {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.callBox textarea {
  background-color: #fafafa;
  padding: 10px;
}

.call-request, .call-progress, .call-review {
  padding: 100px 50px;
}


#call-progress--visualization { height: 120px; }
#blossoms { margin-left: auto; margin-right: auto; height: 120px; }
