<div class="account-info">
  <h2>Personal Details</h2><hr>
  <div class="general main-category row">
    <div class="personal-info col-sm-4 subcategory-wrapper">
      <div class="subcategory">
        <form id="updatePersonalInfo">
          <div class="row">
            <div class="col-sm-12">
              <span class="xsmall">FIRST NAME</span><br>
              <input type="text" id="account--firstname"/><br>
              <span class="xsmall">LAST NAME</span><br>
              <input type="text" id="account--lastname"/><br>
              <span class="xsmall">EMAIL</span><br>
              <input type="text" id="account--email"/><br>
              <span class="xsmall">PASSWORD</span><br>
              <input type="text" id="account--password" value="•••••••••••••"/>
            </div>
            <div class="col-sm-12">
              <br><br>
              <div class="account--profilephoto">
                <span class="small">CHANGE</span>
              </div>
              <span class="xsmall">PROFILE PICTURE</span><br>
              <input type="file" id="profilePhotoUpload" style="display:none;"/>
            </div>
          </div>
          <br>
          <button type="submit" class="small blue">Save Changes</button>
        </form>
      </div>
    </div>
    <div class="call-history col-sm-4 subcategory-wrapper">
      <div class="subcategory scrollable">
        <h5>Call History</h5><br>
        <div class="call-receipt">
        </div>
      </div>
    </div>
    <div class="payment-methods col-sm-4 subcategory-wrapper">
      <div class="subcategory">
        <h5>Billing Information</h5><br>
        <div class="saved-cards sub-subcategory">
          <span class="xsmall">DEFAULT &nbsp;&nbsp;</span>
        </div>
        <br>
        <form action="/newPaymentMethod" method="POST" id="addPaymentMethod">
          <span class="payment-errors"></span>
          <span class="xsmall">CREDIT CARD NUMBER</span><br>
          <input type="text" size="20" data-stripe="number"/><br>
          <div class="row">
            <div class="inline">
              <span class="xsmall">CVC</span><br>
              <input type="text" size="4" data-stripe="cvc" class="short"/>
              &nbsp;&nbsp;&nbsp;
            </div>
            <div class="inline">
              &nbsp;&nbsp;&nbsp;
              <span class="xsmall">EXPIRATION</span><br>
              <input type="text" size="2" data-stripe="exp-month" class="short"/>
              /
              <input type="text" size="4" data-stripe="exp-year" class="short"/>
            </div>
          </div>
          <br><br>
          <button type="submit" class="small blue">Add Payment Method</button>
        </form>
      </div>
    </div>
  </div>
</div>
