<div class="expert main-category row">
  <hr><br>
  <h2>Expert Profile</h2><hr>
  <br>
  <div class="col-md-4">
    <div class="bio subcategory">
      <form id="updateBio">
        <span class="xsmall">YOUR BIO (200 CHAR. MAX)</span><br>
        <textarea id="account--bio"></textarea>
        <br>
        <button type="submit" class="small blue">UPDATE</button>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="topics subcategory">
      <div class="saved-topics sub-subcategory">
        <span class="xsmall">TOPICS OF EXPERTISE</span><br>
      </div>
      <form id="addNewTopic">
        <span class="xsmall">ADD NEW TOPIC</span><br>
        <input id="newTopic" type="text" size="20" data-stripe="number"/><br>
        <br>
        <button type="submit" class="small blue">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
